/*body{
    font-family: 'Roboto',
    font-weight 400px;
    background-color: var(--mainwhite);
    text-decoration: none;
 

}
button{
    cursor: pointer;
}
footer{
    background-color: var(--2black);
}

:root{
    --mainblack:#212121;
    --mainblue:#2196F3;
    --mainwhite:#FFFFFF;
    --maingrate:#757575;
    --2black:#2F303A;
    --2gray:#ECECEC;
    --3gray:#F5F4FA;
}
/*Design header
.navlist-first{
margin-top: 0px;
}
.navlist-second {
margin: top 0px;;
}
.navstudio,
.navemail,
.navportfolio-page{
    color: var(--mainblue);
}
.navfhone-header{
    color: var(--maingrate);
}
.head-first,
.foot-first{
    font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: left;
    color: var(--mainblue);
    text-decoration: none;
        }
  .head-second{
    font-family: Oleo Script;
        font-size: 26px;
     
        line-height: 1.38;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--mainblack);
        text-decoration: none;
  }   
  .foot-second{
    font-family: Oleo Script;
        font-size: 26px;
       
        line-height: 1.38;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--mainwhite);
        text-decoration: none;
  }   
/*hero
 .hero{
    background-color: var(--2black);
    text-align: center;
}
.hero-title {
    font-family: Roboto;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
       
        color: var(--mainwhite);
        margin-top: 0px;
}
.button-hero{
    display: inline-block;
    background-color: var(--mainblue);
    color: var(--mainwhite);
    font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.06em;
        text-decoration: none;
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 200px;
        border: 1px solid;
    

}
.button-hero:hover,
.button-hero:focus{
    color: aqua;
}
.navstudio,
.navportfolio,
.navcont,
.navemail,
.navfhone-header
{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.navfhone,
.footlink{
    font-family: "Roboto";
        font-size: 14px;
      
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-align: left;
}

.advantages-head,
.actvity-head,
.team-photo{
    color: var(--mainblack);
}
.advantages-text,
.team-text
.navfhone{
    color: var(--maingrate);
    }
    
           .footlink{
        color: var(--mainwhite);
    }
    .footlink{    
       background-color: var(--2black);
    }
 
    .navportfolio:hover,
    .navportfolio:focus,
         .navstudio:hover,
         .navstudio:focus,
         .logo:hover,
         .logo:focus,
          .footlink:hover,
          .footlink:focus,
          .navfhone:hover,
          .navfhone:focus,
                  .navemail:hover,
                  .navfhone-header:hover,
                 .navemail:focus,
                 .navfhone-header:focus
    {
        color: red;

    }
  

.button-list-all:hover,
.button-list-all:focus,
.button-list-design:hover,
.button-list-design:focus,
.button-list-mark:hover,
.button-list-mark:focus,
.button-list-web:hover,
.button-list-web:focus
{
    color:yellow
}
.button-list-all,
.button-list-web,
.button-list-design,
.button-list-mark
{
    display: inline-block;
    background-color: var(--3gray);
    color: var(--mainblack);
    cursor: pointer;
    border-radius: 4px;
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0.03em;
        text-align: center;
        padding: 6px 22px;
        min-height: 38px;
        border: 1px solid var(--maingrate);
}

 a .button-list-all{
    background-color: var(--mainblue);
    color: var(--mainblack)
    border 1px var(--mainblue)
    min-width: 73px;
}
.button-list-web{
    min-width: 128px;
}
.button-list-design{
    min-width: 103px;
}
.button-list-mark{
    min-width: 145px;
}

.cards h2{
    color: var(--mainblack);
}
.cards p{
    color: var(--maingrate);
}
.activity-list-li{
    text-decoration: none;
}*/