:root{
    --mainblack:#212121;
    --mainblue:#2196F3;
    --mainwhite:#FFFFFF;
    --maingrate:#757575;
    --2black:#2F303A;
    --2gray:#ECECEC;
}
/*Design header*/

.navlink{
    color: var(--mainblue);
}
.navcont{ color: var(--2black);

}
.navfhone{
    color: var(--maingrate);

}
.advantages-head{
    color: var(--mainblack);
}
.advantages-text{
    color: var(--maingrate);
    }
    .actvity-head {
        color: var(--mainblack);
    }
    .team-photo {
        color: var(--mainblack);
    }
    .team-text{
        color: var(--maingrate);
    }
    .footlink{
        color: var(--mainwhite);
    }
    .foot{    
       background-color: var(--2black);
    }
    .navlink:hover,
        .navlink:focus{
        color: red;
    }
    .navcont:hover,
    .navcount:focus{
        color: red;

    }

    .logo:hover,
    .logo:focus{
        color: red;
    }
    .footlink:hover,
    .footlink:focus{
        color: red;
    }
    .navfhone:hover,
    .navfhone:focus{
        color:red
    }
    .button:hover,
    .button:focus{
        color:yellow
    }
.button{
    color: var(--mainwhite);
    background-color: var(--mainblue);
}